.cardsContainer{
    width: 440px;
    height: 360px;
    background-color: #461414;
    background-image: url(../images/batthern.png);

    float: left;
    overflow-x: hidden; 
    overflow-y: hidden;
    white-space:nowrap;
}

.cardGroup{
    width: 440px;
    height: 360px;
    display: inline-block;
}

.card{
    float: left;
    width: 100px;
    padding: 5px;
}

.card img{
    opacity: 0.8;
}

.card img:hover{
    opacity: 1;
    cursor: pointer;
}

.pageNumber {
    width: 100%;
    background: #2a2a2a;
    color: #fff;
    text-align: center;
}

.decklist {
    background: #2a2a2a;
    width: 400px;
    float: right;
    font-family: 'Crimson Text';
}

.deckItem {
    color: white;
    border-bottom: 1px solid #fff;
    width: 400px;
    float: left;
}

.deckItemName {
    width: 365px;
    float: left;
    padding: 5px 0px 5px 5px;
}


.deckItemQuantity {
    width: 10px;
    float: right;
    padding: 5px 10px;
    background: #4eb74e;
    color: white;
}

.deckItem[rarity='Very rare'] {
    background-color: yellow;
    background: url(../images/icons/very_rare.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}