.homeContainer {
    min-width: 400px;
    border: 1px solid #fff;
    background: #f2f5e8;
    background-image: url(../images/texture2.png);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}