body {
    background: #383838;
    font-family: 'Verdana';
}

.clear { clear: both; }

.mainContainer {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text';
    padding: 10px;
}

h2 {
    font-size: 34px;
    font-family: 'Crimson Text';
}

h4 {
    font-size: 24px;
}

a {
    color: #000000;
    text-decoration: none;
}


nav {
    background: #2a2a2a;
    margin-bottom: 10px;
    font-family: 'Crimson Text';
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #b7a36e;
}

li {
    display: inline;
    padding: 20px 20px;
    float: left;
    border-right: 2px solid #3e3e3e;
}

li:hover {
    color: #f1f1f1;
    cursor: pointer;
     text-shadow: 1px 0px 20px #fff;
}


.backgroundContainer {
    min-width: 400px;
    border: 1px solid #fff;
    background: #f2f5e8;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
